/*body {*/
  /*margin: 0;*/
  /*background-color: #d0cc84;*/
/*}*/
* {
    padding: 0;
    margin: 0;
}
html,body{
    background: #d0cc84;;
    font-size: 14px;
    font-family: "Hiragino Sans GB","PingFang SC","Microsoft YaHei","微软雅黑",sans-serif;
    /*font-family: "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",Arial,Helvetica,sans-serif;*/
    word-break: break-all;
    color: #333;
    min-width: 1080px;
    height: 100%;
    letter-spacing: 0.7px;
}
.f-l {
    float: left;
}

.f-r {
    float: right;
}

.clearfix:after {
    content: '';
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}

.clearfix {
    zoom: 1;
}
.text-l {
    text-align: left;
}
.text-r {
  text-align: right;
  padding-top:4px ;
}
ul, li {
    list-style: none;
}

input, textarea {
    outline: none;
    border: none;
    /* border-shadow: none; */
}

img {
    /*display: block;*/
    border: none;
    vertical-align: middle;
}
.cursor {
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #333;
    outline: none;
}
input{
    background-color:transparent;
    border-color:transparent;
}
textarea{
    font-family: inherit;
    overflow:auto;
    background-attachment:fixed;
    background-repeat:no-repeat;
    resize: none;
}

/*form 表单内容重置*/
form .el-form-item__label {
  text-align: justify;
  text-align-last: justify;
}
form .el-select,
form .el-date-editor.el-input {
  width: 100%;
}
